*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: left;
    background-color: aliceblue;
    padding: 25px;
}
.container{
    width: 1366px;
    margin: 0 auto;
}
.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articles article img{
    height: 200px;
    align-items: center;
    padding: 10px;
}
.articles article{
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
}
.container h1{
    text-align: left;
    margin: 20px 0;
}
.articles article a{
    text-decoration: none;
    color: black;
    background-color: #ccc;
    padding: 5px;
}
.articles article a:hover{
    background-color: #333;
    color: white;
}